.cast-info {
  padding: 50px;
  color: white;

  &__group-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  &__list {
    font-size: 1.2rewm;
  }

  &__crew {
    display: flex;
    li:first-child {
      margin-bottom: 0.9rem;
      margin-right: 100px;
      color: rgb(153, 153, 153);
      width: 200px;
    }
    li:nth-child(2) {
      color: rgb(200, 200, 200);
    }
  }
}
